.courses {
    width: 100%;
    padding: 22px 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.coursesTypographyContainer {
    max-width: 500px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

@media (max-width: 1000px) {
    .courses {
        flex-direction: column;
    }

    .coursesTypographyContainer {
        text-align: center;
    }
}