.tracks {
    width: 100%;
    background-color: rgb(242, 242, 242);
    padding: 37px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.tracksStack {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

.tracksButtons {
    padding: 4px;
    border-radius: 16px;
}

.tracksCards {
    min-width: 345px;
    text-align: right;
    transition: 0.5s; 
}

.tracksCardsSubheaderStack {
    width: 100%;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.tracksCardsActionsStack {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tracksCardsStack {
    max-width: 1079px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
    overflow: hidden;
    transition: 1s;
}

.tracksIcons {
    cursor: pointer;
}

@media (max-width: 1150px) {
    .tracksCardsStack {
        max-width: 727px;
    }
}
@media (max-width: 800px) {
    .tracksCardsStack {
        max-width: 345px;
    }
}