.mainNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 16px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.mainNavSearch {
    height: 40px;
    width: 409px;
    border-radius: 25px;
}

.navLinks {
    text-decoration: none;
    cursor: pointer;
}

.menuNav {
    width: 90%;
    box-shadow: 0 0 5px;
    border-radius: 26px;
    padding: 25px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 100px;
    left: 5%;
}

.menuNavTextField {
    height: 40px;
    width: 100%;
    border-radius: 25px;
}

.menuNavTextField::placeholder {
    text-align: right;
}

.menuNavLinks {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.footer {
    background-color: rgb(242,242,242);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 27px;
}

.footerContent {
    max-width: "590px";
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.footerLinksStack {
    padding: 0 37px;
    justify-content: center;
    flex-wrap: wrap;
}

.footerLinks {
    text-decoration: none;
    color: rgb(38, 38, 38);
}

.footerBody {
    max-width: 623px;
    color: rgb(77, 77, 77);
    text-align: center;
}